<h1>{{title}}</h1>

<p>Nombre: {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>

<form action="/api/sessions/logout" method="post">
    <button type="submit">Salir</button>
</form>